#container{
    display: flex;
    height: 256px;
    width: 256px;
    border: solid black 1px;
    flex-wrap: wrap;
}

.item{
    width: 6.25%;
    height: 6.25%;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

/* .item:hover{
    background-color: black;
} */